# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
*.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode / editors
.vscode/
.idea/

# Coverage / testing
.coverage
htmlcov/

# OS files
.DS_Store
