name: Publish to TestPyPI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Pre-clean workspace
        run: rm -rf dist build *.egg-info || true

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Clean previous builds
        run: rm -rf dist build *.egg-info

      - name: Install build deps
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade build setuptools wheel twine

      - name: Build package
        run: python -m build

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.8.11
        with:
          repository-url: https://test.py
