name: Publish to TestPyPI

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read


jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: repo

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: repo

      - name: Print debug info
        run: |
          echo "PWD: $(pwd)"
          ls -la .
          echo "==== src ===="
          ls -la src || true
          echo "==== top-level pyproject ===="
          cat pyproject.toml || echo "NO pyproject.toml FOUND"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install build deps
        run: |
          python -m pip install --upgrade pip
          pip install "setuptools<74" "wheel<0.44" build twine

      - name: Build package
        run: |
          echo "Building package..."
          python -m build
          echo "Build finished."

      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.8.11
        with:
          repository-url: https://test.pypi.org/legacy/
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          packages-dir: repo/dist     
          verbose: true
